header{
    position: relative;
    top: 5%;
}
footer{
    position: relative;
    bottom: 5%;
}

.box1{
    display: flex;
    justify-content: center;
    align-items: center; 
    /* flex-direction: column; */
}
.box_1_1{
    display: flex;
    justify-content: center;
    align-items: center; 
     flex-direction: column;
}
.sub_box{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}